#container {
	width: 100vmin;
	height: 100vmin;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #082567;
}

#calculator {
	position: relative;
	width: 40vmin;
	height: 60vmin;
	align-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 0;
	color: #ffffff;
	background-color: yellow;
}

#display {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 40vmin;
	height: 10vmin;
	background-color: black;
}

#clear {
	margin: -1px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20vmin;
	height: 10vmin;
	background-color: brown;
}

#multiply,
#divide,
#subtract,
#add {
	margin: -1px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10vmin;
	height: 10vmin;
	background-color: brown;
}

.number {
	margin: -1px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10vmin;
	height: 10vmin;
	background-color: green;
}

#equals {
	margin: -1px;
	border: 1px solid black;
	position: relative;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10vmin;
	height: 20vmin;
	background-color: gray;
}

#decimal {
	margin: -1px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 10vmin;
	width: 20vmin;
	height: 10vmin;
	background-color: plum;
}

#zero {
	margin: -1px;
	border: 1px solid black;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
	left: 0;
	width: 10vmin;
	height: 10vmin;
	background-color: green;
}

#calculator *:hover {
	border-color: white;
	z-index: 3;
}
